* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body{
  background-image: url('https://img.freepik.com/premium-photo/anime-nature-concept-art-background-image_492154-725.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
form h1{
  color: rgb(37, 98, 139);
}
form h3{
  opacity: 0.7;
}
form h1,form h3{
  margin: 0.7rem;
}
form{
  background-color: rgba(255, 255, 255, 0.882);
  box-shadow: 5px 5px 15px grey;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 10px;
}
input, button{
  margin-bottom: 1rem;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  outline: none;
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}
input:focus{
  border: 2px solid cadetblue;
  border-radius: 20px;
}
button{
  cursor: pointer;
  background-color: cadetblue;
  font-weight: 700;
  color: white;
  padding: 0;
  margin-top: 1rem;
  border: 2px solid cadetblue;
  
}
button:hover{
  background-color: rgba(95, 158, 160, 0.307);
  color:rgb(60, 127, 129);
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  font-weight: 600;
  box-shadow: 0 0 10px rgb(29, 29, 29);
}
nav button{
  width: 200px;
  border-radius: 5px;
}
label{
  float: left;
  padding: 0 1rem;
  font-size: 12px;
  font-weight: 600;
}
main{
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
